.form {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.form__input {
    padding: 10px;
    cursor: none;
}

.form__button {
    color: #ffffff;
    background-color: teal;
    padding: 10px;
    border: 0px;
}

.form__button:active {
    outline: solid 2px #000000
}

@media (max-width: 767px) {
    .form {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}