html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ededed;
}